# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/HelloWDM.tlog/CL.command.1.tlog
x64/Debug/HelloWDM.tlog/CL.read.1.tlog
x64/Debug/HelloWDM.tlog/CL.write.1.tlog
x64/Debug/HelloWDM.tlog/HelloWDM.lastbuildstate
x64/Debug/HelloWDM.tlog/Inf2Cat.command.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13880.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13880.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20092.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20092.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.22952.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.22952.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.write.1.tlog
x64/Debug/HelloWDM.tlog/link.command.1.tlog
x64/Debug/HelloWDM.tlog/link.read.1.tlog
x64/Debug/HelloWDM.tlog/link.write.1.tlog
x64/Debug/HelloWDM.tlog/signtool.command.1.tlog
x64/Debug/HelloWDM.tlog/signtool.read.1.tlog
x64/Debug/HelloWDM.tlog/signtool.timestamp.1.tlog
x64/Debug/HelloWDM.tlog/signtool.write.1.tlog
x64/Debug/HelloWDM.tlog/stampinf.command.1.tlog
x64/Debug/HelloWDM.tlog/stampinf.read.1.tlog
x64/Debug/HelloWDM.tlog/stampinf.write.1.tlog
x64/Debug/HelloWDM.inf
